.info-blocks{
	background: #fff;
  	border-radius: 2px;
	border-top-right-radius: 0;
  	border-top-left-radius: 0;
	padding-top: 30px;
	padding-bottom: 15px;
}

.info-blocks .block{
	border-right: 4px solid #e2eef4;	
}

.info-blocks .block:last-child{
	border-right: 4px solid #fff;
}

.info-blocks .block .info,
.info-blocks .block .image{
	text-align: center;
	height: 100% !important;
	position: relative;
}

.info-blocks .block .col-xs-8.info{
	padding: 0 !important;
}

.info-blocks .block .info h3{
	text-transform: uppercase;
	color: #1a91f5;	
}

.info-blocks .block .info{
	min-height: 210px;	
}

.info-blocks .block .info .btn{
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-info{ 
	background: #0053a3;
	font-family: "soleil", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	margin-top: 30px;
	padding-top: 2%;
}

.content-info .footer-menu a {
  font-family: "soleil", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: left;
  font-size: 20px;
  text-transform: uppercase;
  display: block;
  line-height: 3px;
}

.content-info .footer-menu a i.fa {
  margin-left: 10px;
  font-size: 30px;
}

.content-info .newsletter{
	color: #fff;
	text-align: center;	
	text-transform: uppercase;
}

.content-info .newsletter .newsletter-field{
	border: none !important;
	box-shadow: none !important;
	border-radius: 20px;
	border-bottom-right-radius: 0;
  	border-top-right-radius: 0;
}

.content-info .newsletter .gfield_label,
.content-info .newsletter .validation_error{
	display: none !important;
}

.content-info .newsletter .newsletter_wrapper{
	padding: 0 20px;
	position: relative;	
}

.content-info .newsletter .newsletter_wrapper .newsletter{
	position: relative;
}

.content-info .newsletter .newsletter_wrapper .newsletter .validation_message{
	color: #fff;	
}

.content-info .gform_body .ginput_container{
	margin: 0 !important;
	padding: 0 !important;
}

.content-info .newsletter .gform_body .ginput_container input{
	border: none !important;
	box-shadow: none !important;
	border-radius: 20px;
	padding: 0 15px;
}

.content-info .newsletter .gform_body{
	width: 100%;
	clear: none !important;
}

.content-info .newsletter .gform_footer{
	margin: 0;
	padding: 0;
	clear: none !important;
	position: absolute;
	top: 0;
	right: 0;
}

.content-info .newsletter .gform_wrapper li.gfield.gfield_error{
  background-color: transparent !important;
  border: none !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.content-info .newsletter .newsletter-submit,
.content-info .newsletter .gform_button{
  font-size: 15px !important;
  height: 34px !important;
  line-height: 1.42857 !important;
  border-radius: 20px !important;
  border: 3px solid #fff !important;
  background: #29abb0 !important;
  box-shadow: none !important;
  padding: 0 15px !important;
  z-index: 99 !important;
  position: relative !important;
}

.content-info .newsletter .newsletter-submit i.fa-circle {
	color: #29abb0;
}

.content-info .newsletter h3{
	margin: 0 0 20px;	
}

.content-info .sub-footer{
	background: #0066b3;
	margin-top: 2%;
	color: #fff;
}

.content-info .sub-footer ul.legal{
	margin: 0;
	padding: 0;	
}

.content-info .sub-footer ul.legal li{
	list-style: none;
	display: inline-block;
	margin: 0 5% 0 0;
}

.content-info .sub-footer ul.legal li a{
	color: #fff;	
	line-height: 50px;
	display: block;
	font-size: 11px;
	text-transform: uppercase;
}

.content-info .sub-footer ul.branding{
	margin: 0;
	padding: 0;
}

.content-info .sub-footer ul.branding li{
	list-style: none;
	display: inline-block;
	margin: 0 0 0 15%;
	float: right;
}

.content-info .sub-footer ul.branding li a{
	color: #fff;	
	line-height: 50px;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
}

.content-info .sub-footer ul.branding li a.launchpad{
	width: 22px;
	background: url(../img/footer-branding-launchpad.png) center center no-repeat;
}

.content-info .sub-footer ul.branding li a.sanofi{
	width: 91px;
	background: url(../img/footer-branding-sanofi.png) center center no-repeat;
}

.content-info .sub-footer ul.branding li a.chattem{
	width: 56px;
	background: url(../img/footer-branding-chattem.png) center center no-repeat;
}

@media (max-width: @screen-sm-min) { 
	.content-info .footer-menu a{
		text-align: center;	
	}
	.sub-footer{
		text-align: center;
	}
	.content-info .sub-footer ul.branding li{
		float: none;
		margin: 0 15px;
	}
}

@media screen and (min-width:1196px){
  .content-info .footer-menu div:first-child a{
    margin-left: 60px;
  }
}