.sanofi-head{
	background: #fff;
	-webkit-box-shadow: 0 2px 2px -1px #898989;
    -moz-box-shadow: 0 2px 2px -1px #898989;
    box-shadow: 0 2px 2px -1px #898989;
	padding: 5px 0;
}

.sanofi-head a.sanofi{
	width: 119px;
	height: 25px;
	display: block;
	background: url(../img/header-sanofi.png) top left no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	float: right;
}

.banner .container { 
	background: url(../img/banner-bg.png) top left no-repeat;
	padding: 0;
}

.banner .navbar-brand {
  display: inline-block;
  float: none;
  height: auto !important;
  max-width: 100%;
  padding: 22px 0;
}

.banner .pre-nav {
  float: right;
  padding: 5% 0 0 0;
}

.banner .pre-nav .search-form{
	float: right;	
}

.banner .pre-nav .nav-sec{
	float: left;
	margin-right: 30px;
}

.banner .pre-nav .nav-sec ul{
	margin: 0;
	padding: 0;
}

.banner .pre-nav .nav-sec ul li{
	list-style: none;
	display: inline-block;
	margin: 0 10px;
}

.banner .pre-nav .nav-sec ul li a{
	line-height: 35px;
	text-transform: uppercase;
	font-size: 11px;
	color: #fff;
	font-family: "soleil", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

.banner .pre-nav .nav-sec ul li a span.fa-stack{
	font-size: 11px;
	margin-right: 5px;
}

.banner .pre-nav .nav-sec ul li a i.fa-inverse{
	color: #009ae9;
}

/* ----- UberMenu ----- */

.banner .ubermenu{
	background: #003087;
	-webkit-border-radius: 2px; 
  	-moz-border-radius: 2px; 
  	border-radius: 2px;
	
}

.banner .ubermenu .ubermenu-submenu{
	padding-bottom: 5px;	
}

.banner .ubermenu a{
	color: #fff;
	font-family: "soleil", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.banner .ubermenu-submenu{
	background: #fff;	
}

.banner .ubermenu a:hover{
	color: #003087;
	background: #fff;
}

.banner .ubermenu h4{
	margin: 0;
	text-transform: uppercase;
	color: #003087;
}

.banner .ubermenu .ubermenu-current_page_item a,
.banner .ubermenu .ubermenu-current-page-ancestor a{
	color: #fff;
	background: #1a91f5;
}

.banner .ubermenu .ubermenu-current_page_item a:hover,
.banner .ubermenu li.ubermenu-item-level-0.ubermenu-active a{
	color: #003087 !important;
	background: #fff !important;
}

.banner .ubermenu-submenu a,
.banner .ubermenu li.ubermenu-item-level-0.ubermenu-active ul.ubermenu-submenu li a{
	color: #1a91f5 !important;
	font-weight: 300;
	background: #fff !important;
	text-transform: none !important;
}

.banner .ubermenu-submenu a:hover,
.banner .ubermenu li.ubermenu-item-level-0.ubermenu-active ul.ubermenu-submenu li a:hover{
	color: #275f91 !important;
}

.banner .ubermenu .ubermenu-column-1-2 a,
.ubermenu .ubermenu-submenu-type-stack > .ubermenu-item-normal > .ubermenu-target{
	padding-top: 5px !important;
	padding-bottom: 10px !important;
}

.banner .ubermenu-submenu .ubermenu-column-full{
	margin-top: 10px;	
}

.banner .ubermenu-submenu .ubermenu-row{
	margin-bottom: 0;	
}

.banner .ubermenu-submenu .ubermenu-row .ubermenu-item-441 a{
	padding: 0 20px 5px !important;
}

li.ubermenu-item-459.ubermenu-column-id-459 {
  position: relative;
  top: 10px;
}

.banner .ubermenu-submenu .ubermenu-column-id-402{
	width: 32%;
}

.banner .ubermenu-submenu .ubermenu-item-406 .ubermenu-target .ubermenu-image{
	float: right;
}

.banner .ubermenu-submenu .ubermenu-submenu-id-404{
	padding-top: 0px;
}
