.page-header{
	border-bottom: 4px solid #d0dce2;	
}

.page-header h1{
	color: #003087;
	margin-top: 0;
}

.page-header h3{
	text-transform: uppercase;
	font-style: italic;
	font-weight: 300;
	font-style: italic;
	margin-top: 0;
}

.page-header .social{
	text-align: center;	
}

.page-header .social ul{
	margin: 0;
	padding: 0;	
}

.page-header .social ul li{
	list-style: none;
	display: inline;	
}

.page-header .social ul li ul{
	text-align: center;	
	padding: 5px 0 0 0;
}

.page-header .social ul li ul li{
	display: inline-block;
	margin: 0 2px;
}

.page-header .social ul li ul li a{
	color: #fff;
}

.page-header .social ul li ul li a:hover{
	color: #004497;
}

.page-header .social ul li:hover .dropdown-menu {
    display: block !important;
}

.page .main .block .row-no-padding{
	margin: 0 !important;
}

.page .main .block{
	margin-bottom: 50px;	
}

.page .main .block.bordered{
	border: 15px solid #e2eef4;
	padding: 10px;
	border-radius: 2px;
}

.page .main .block h3{
	font-weight: 400;
	text-transform: uppercase;
	color: #003087;
}

.page .main .block ul{
	padding: 0 0 0 20px;	
}

.page .main .block ul li{
	list-style: none;
	margin: 15px 0;
}

.page .main .block ul li:before {    
    font-family: 'FontAwesome';
    content: '\f058';
    margin:0 10px 0 -20px;
	color: #004497;
}

.page .main .block .gform_wrapper ul{
	padding: 0;	
}

.page .main .block .gform_wrapper ul li:before{
	margin: 0 !important;
	content: normal !important;
}

.page .main .block .accordian{
	border: 15px solid #e2eef4;
	padding: 10px;
	border-radius: 2px;
}

.page .main .block .accordian .intro{
	margin-bottom: 30px;
}

.page .main .block .accordian .panel-group{
	margin-bottom: 0;	
}

.page .main .block .accordian .panel-heading [data-toggle="collapse"]:after {
  font-family: 'FontAwesome';
  content: "\f056";
  float: right;
  color: #1a91f5;
}
.page .main .block .accordian .panel-heading [data-toggle="collapse"].collapsed:after {
  font-family: 'FontAwesome';
  content: "\f055";
  float: right;
  color: #1a91f5;
}