.sidebar {
  .make-sm-column(@sidebar-sm-columns);
}

.sidebar{
	padding-right: 30px;	
}

.sidebar-primary .content{
	background: #fff;
	border-radius: 2px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.sidebar .tagcloud a{
	background: #004497;
  border-radius: 2px;
  color: #fff;
  display: block;
  float: left;
  margin: 2px;
  padding: 5px;
}

.sidebar h3{
	color: #1a91f5;	
}

.sidebar ul{
	margin-left: 25px;
	padding: 0;
	list-style: square;
}

.sidebar ul li{
	margin: 5px 0;	
}