.act-for-kids .main a.section-btn{
	padding: 25px;
	display: block;
	font-size: 30px;
	font-family: "soleil", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 25px 0;
	color: #fff;
}

	.act-for-kids .main a.section-btn.healthy-habits{
		background: #e74c3c;
	}
	
	.act-for-kids .main a.section-btn.prevent-cavities{
		background: #19a5aa;
	}
	
	.act-for-kids .main a.section-btn.parent-tips{
		background: #ebc012;
	}
	
	.act-for-kids .main a.section-btn.braces-care{
		background: #8948a3;
	}
	
	.act-for-kids .main a.section-btn.sign-up-save{
		background: #e67e22;
	}
	
	.act-for-kids .main a.section-btn.usage-guidlines{
		background: #1a91f5;
	}
	
.act-for-kids .main a.section-btn:hover{
	text-decoration: none;
	opacity: 0.75;
}

.act-for-kids .main a.section-btn i.ai,
.act-for-kids .main a.section-btn i.fa{
	display: inline-block;
	width: 50px;
	text-align: center;
	margin-right: 15px;
}

.act-for-kids .main a.section-btn .icon{
	border-radius: 25px;
	line-height: 50px;
	background: url(../img/bg-white-25.png);
}

.act-for-kids .main a.section-btn span.fa-stack{
	float: right;
	font-size: 24px;
	font-weight: normal;
}

.act-for-kids .info-blocks{
	padding-bottom: 0;	
}

.act-for-kids .info-blocks .block .info p{
	font-weight: 700;
	text-transform: uppercase;
	color: #19a5aa;
	font-style: italic;
}

.act-for-kids .info-blocks .block .info p span{
	width: 100%;	
	display: block;
	clear: both;
	font-size: 26px;
	color: #275c8d;
	font-style: normal;
}

@media screen and (max-width:470px){
  .kid-block-1{width:80%;}
  .kid-block-0,
  .kid-block-2{width:60%;}
}