.act-advanced-guarantee .main{
	padding: 0 !important;
	border-radius: 2px !important;
}

.act-advanced-guarantee .main .top-banner{
	position: relative;	
}

.act-advanced-guarantee .main .top-banner a.btn{
	display: block;
	position: absolute;
	bottom: 50px;
	right: 260px;
}

.act-advanced-guarantee .main .top-banner p{
	margin: 0;	
}

.act-advanced-guarantee .main h3{
	font-size: 20px !important;
	font-weight: 700 !important; 
	margin-top: 40px;
}

.act-advanced-guarantee .main .col-sm-4{
	padding-right: 30px;	
}

.act-advanced-guarantee .main .block{
	margin-bottom: 0;	
}

.act-advanced-guarantee .main .block a{
	color: #1a91f5;
	text-decoration: underline;
}