.dental-professionals{
	background: url(../img/dental-professionals-bg.png) repeat-x #eff4f6;
}

.dental-professionals .banner .container { 
	background: none;
}

.dental-professionals .banner .pre-nav .nav-sec ul li a{
	color: #275f91;
}

.dental-professionals .banner .pre-nav .nav-sec ul li a i.fa-inverse{
	color: #fff;
}

.dental-professionals .carousel .carousel-indicators li{
	border: 1px solid #19a5aa;
}

.dental-professionals .carousel .carousel-indicators .active{
	background-color: #19a5aa;
}

.dental-professionals .info-blocks .block .info h3{
    margin-top: 0px;
}

.dental-professionals .main .block{
	margin-bottom: 100px;
	padding-bottom: 75px;
	border-bottom: 4px solid #d0dce2;
}

.dental-professionals .main .block .image img{	
	display: block;
	margin: 0 auto;
}

.dental-professionals .main .block .info span.new{
	margin: 0 !important;	
}

.dental-professionals .main .block.no-border{
	padding-bottom: 0;
	margin-bottom: 75px;	
}

.dental-professionals .main .block:last-child{
	border-bottom: none !important;
}

.dental-professionals .main a.back-to-top{
	font-size: 24px;
	float: right;
	margin-bottom: 25px;
}

.dental-professionals .main a.back-to-top:hover{
	text-decoration: none;	
}

.dental-professionals .main a.back-to-top i{
	margin-left: 10px;
	font-size: 40px;
}

.dental-conference-meeting-calendar .image img{
	padding-top: 25px;
}