.home .main{
	border-radius: 0 !important;
	padding: 40px 0 !important;	
}

.home .main .block.top{
	border-bottom: 4px solid #e2eef4;
	margin-bottom: 25px;
	padding-bottom: 25px;
}

.home .main .block .image{
	text-align: center;
}

.home .main .block .image img{
	display: block;
	margin: 0 auto;	
}

.home .main .block .info h3{
	text-transform: uppercase;
	color: #1a91f5;
	margin-top: 0;
	font-weight: 700;
}

.home .main .block .info .btn{
	float: right;	
}

.home .main .block{
	margin-bottom: 0;	
}

.adblock-clear {clear:both;}

.do_nothing {content:"";}

@media (max-width: 768px) {
  .home .main .block.top {
    border-bottom: 4px solid transparent!important;
  }
}