.products .content .product-row{
	margin: 15px 0;	
}

.products .content .product{
	background: #e2eef4;
	padding: 15px 15px 40px 15px;
	text-align: center;
	height: 100%;
	position: relative;
	text-transform: uppercase;
	font-weight: 700;
	min-height: 425px;
}

.products .content .product .image img{
	display: block;
	margin: 0 auto;	
}

.products .content .product span.new{
	width: 64px;
	height: 25px;
	background: url(../img/products-new.png) center center no-repeat;
	position: absolute;
	top: 10px;
	left: 0;
}

.products .content .product h4{
	color: #1e2c90;
	margin-top: 25px;
}

.products .content .product p.flavor{
	margin-bottom: 25px;
	color: #1e2c90!important;
}

.products .content .product p.subtitle{
	font-style: italic;
	color: #1e2c90;
}

.products .content .product .buttons{
	width: 100%;
	position: absolute;
	bottom: 0;
	margin: 0 -15px;	
}

.products .content .product .buttons a{
	font-size: 11px;
	line-height: 40px;
	display: block;	
	margin: 0;
	padding: 0;
	color: #fff;
	text-transform: uppercase;
}

.products .content .product .buttons a:hover{
	text-decoration: none;	
}

.products .content .product .buttons a.learn-more{
	background: #1e2c90;
}

.products .content .product .buttons a.where-to-buy{
	background: #1a91f5;
}

.products .product-menu{
	background: #003087;
	text-align: center;
	-webkit-border-radius: 2px; 
  	-moz-border-radius: 2px; 
  	border-radius: 2px;
	margin-bottom: 25px;
	padding-bottom: 15px;
}

.products .product-menu h3{
	color: #d0dce2;
	margin-bottom: 30px;
	text-transform: uppercase;
}	

.products .product-menu ul{
	margin: 0;
	padding: 0;
}

.products .product-menu ul li{
	list-style: none;
	margin: 5px 0;
}

.products .product-menu ul li.menu-item-has-children{
	margin: 20px 0;	
}

.products .product-menu ul li a{
	color: #fff;
	font-size: 14px;
	font-family: "soleil", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	display: block;
	padding: 5px 0;
	-webkit-border-radius: 2px; 
  	-moz-border-radius: 2px; 
  	border-radius: 2px;
	text-transform: uppercase;
}

.products .product-menu ul li.current_page_item a{
	background: #fff;
	color: #003087;
}

.products .product-menu ul li.current_page_item ul li a{
	background: #003087;
	color: #fff;
}

.products .product-info{
	margin: 50px 0;	
}

.products .product-landing{
	padding-top: 125px;	
}

.products .product-landing .block{
	text-align: center;	
}

.products .product-landing .block h4{
	text-transform: uppercase;
	color: #1e2c90;	
	padding: 0 5px;
}

.products .product-landing .block .image{
	height: 325px;	
}

.products .product-landing .block .image img{
	max-height: 325px;
	display: block;
	margin: 0 auto;
}	

.products .product-info .image img{
	display: block;
	margin: 0 auto;
}

.products .product-info .info h3{
	font-size: 18px;
	text-transform: uppercase;
	color: #003087;
}

.products .product-info .info ul{
	padding: 0 0 0 20px;	
}

.products .product-info .info ul li{
	list-style: none;
	margin: 15px 0;
}

.products .product-info .info ul li:before {    
    font-family: 'FontAwesome';
    content: '\f058';
    margin:0 10px 0 -20px;
	color: #20b24b;
}

.products .product-info .info a.drug-facts{
	font-size: 11px;
	text-decoration: underline;	
}

.products .product-info .modal-body{
	text-align: center;	
}

.products .product-info .modal-body img{
	display: block;
	margin: 0 auto;	
}