.act-for-adults .carousel .carousel-indicators li{
	border: 1px solid #003087;
}

.act-for-adults .carousel .carousel-indicators .active{
	background-color: #003087;
}

.act-for-adults .main a.section-btn{
	padding: 25px;
	display: block;
	background: #e8f1f5;
	font-size: 30px;
	font-family: "soleil", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 25px 0;
}

.act-for-adults .main a.section-btn:hover{
	background: #003087;
	color: #fff;
	text-decoration: none;
}

.act-for-adults .main a.section-btn i.ai{
	display: inline-block;
	width: 50px;
	text-align: center;
	margin-right: 15px;
}

.act-for-adults .main a.section-btn span.fa-stack{
	float: right;
	font-size: 24px;
	font-weight: normal;
}