@media (min-width: 990px){
  .home .info-blocks .col-sm-3{
    width: 33.33333%;
  }
}
@media (max-width: 989px){
  .home .info-blocks .col-sm-3,
  .home .info-blocks .col-sm-4{
    width: 100%;
    display: block;
  }
}
@media (max-width: 500px){
  .home .col-full-height{
    height: initial!important;
  }
}
