@import "font-awesome/font-awesome.less";
@import "bootstrap-social/bootstrap-social.less";

* { outline: none !important; }

body{
	background: url(../img/consumer-bg.png) repeat-x #003087;
}

a:link,
a:visited,
a:hover,
a:active{
	text-decoration: none;	
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.no-border{
	border: none !important;	
}

.tooltip-hover,
.popover-hover{
	cursor: help;	
}

.popover {
  max-width: 350px;
  width: auto;
  cursor: help;
}

.main{
	padding-left: 30px !important;
	padding-right: 30px !important;
}

.search-form .search-field{
	border: none !important;
	box-shadow: none !important;
	border-radius: 20px;
}

.search-form .search-submit{
  font-size: 15px;
  height: 34px;
  line-height: 1.42857;
  border-radius: 20px;
  border: 2px solid #fff;
  background: #fff;
  box-shadow: none !important;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 0;
}

.search-form .search-submit i.fa-circle{
	color: #29abb0;
}

span.new{
	width: 93px;
	height: 32px;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../img/badge-new.png) center center no-repeat;
	margin: 0 auto;
}

.ubermenu-responsive-toggle{
	text-align: center;
	background: #fff;
	border-radius: 2px;	
}

@media (max-width: @screen-sm-min) { 
	.pre-nav{
		display: none;	
	}
	.container{
		padding: 0 15px !important;	
	}
}

/* Gravity Forms */

.gform_wrapper ul {
  .list-unstyled();
}
.gform_wrapper li {
  .form-group();
}
.gform_wrapper form {
  margin-bottom: 0;
}
.gform_wrapper .gfield_required {
  padding-left: 1px;
  color: @state-danger-text;
}
.ginput_container input,
.ginput_container select,
.ginput_container textarea {
  .form-control();
}
.ginput_container textarea {
  height: auto;
}
.gform_button,
.gform_wrapper .button{
  .btn();
  .btn-primary();
}
.gform_wrapper .gfield_error {
  .gfield_label {
    color: @state-danger-text;
  }
  input,
  select,
  textarea {
    border-color: @alert-danger-border;
    background-color: @alert-danger-bg;
    color: @alert-danger-text;
    .form-control-focus(@alert-danger-text);
  }
}
.validation_error {
  .alert();
  .alert-danger();
}
#gforms_confirmation_message {
  .alert();
  .alert-success();
}

.gform_wrapper.gf_browser_gecko .gfield_checkbox li input[type="checkbox"],
.gform_wrapper.gf_browser_gecko .gfield_radio li input[type="radio"],
.gform_wrapper.gf_browser_gecko .gfield_checkbox li input{
	margin: 0 !important;
	height: 24px !important;
}

/* Same Height Columns */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}