// Typography
// -------------------------

@font-family-sans-serif: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@headings-font-family: "soleil", "Helvetica Neue", Helvetica, Arial, sans-serif;
@headings-font-weight: 700;

// Grid settings
// -------------------------

@main-sm-columns:       	@grid-columns;
@sidebar-sm-columns:    	3;
@container-large-desktop: 	(990px + @grid-gutter-width);

// Brand colors
// -------------------------

@brand-primary:         	#004497;
@navbar-default-bg:			transparent;
@navbar-default-border: 	none;
@navbar-default-link-color: #fff;
@btn-info-bg: 				#098ffd;

// Tooltips
// -------------------------
@tooltip-max-width: 		300px;
@tooltip-bg:				#003087;
@tooltip-opacity: 			1;


// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";
