// Content wrapper
.wrap { }

// Main content area
.main {
  .make-sm-column(@main-sm-columns);
  .sidebar-primary & {
    .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
  }
}

.main {
	background: #fff;
  	border-radius: 2px;
	border-bottom-right-radius: 0;
  	border-bottom-left-radius: 0;
	-webkit-box-shadow: 0 8px 8px -4px #C8C8C8;
    -moz-box-shadow: 0 8px 8px -4px #C8C8C8;
    box-shadow: 0 8px 8px -4px #C8C8C8;
}

.header-full-width{
	padding: 0 30px !important;
}

.archive .content{
	background: #fff;
	border-radius: 2px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
