.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

article.post{
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 4px solid #d0dce2;
	display: block;
	clear: both;
}

article.post:last-child{
	border-bottom: none;
}

article.post .image{
	border-radius: 2px;	
}

article.post .entry-title{
	margin-bottom: 15px;	
}

article.post .entry-title a:hover{
	color: #004497 !important;
}

article.post .read-more{
	text-align: right;
}

article.post #sources .src-head{
	width: 100%;
	display: block;
	position: relative;
	border-bottom: 4px solid #003087;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

article.post #sources .src-head a.btn{
	position: absolute;
	top: 0;
	right: 0; 
}

article.post #sources .src-head h3{
	color: #003087;
}