@font-face {
	font-family: 'act-icons';
	src:url('../fonts/act-icons.eot?-nkorro');
	src:url('../fonts/act-icons.eot?#iefix-nkorro') format('embedded-opentype'),
		url('../fonts/act-icons.woff?-nkorro') format('woff'),
		url('../fonts/act-icons.ttf?-nkorro') format('truetype'),
		url('../fonts/act-icons.svg?-nkorro#act-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

i.ai{
	font-family: 'act-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-act-adults-icon-anticavity:before {
	content: "\e600";
}

.icon-act-adults-icon-braces-care:before {
	content: "\e601";
}

.icon-act-adults-icon-dry-mouth:before {
	content: "\e602";
}

.icon-act-adults-icon-enamel-health:before {
	content: "\e603";
}

.icon-act-adults-icon-kids:before {
	content: "\e604";
}

.icon-act-adults-icon-plaque-gingivitis:before {
	content: "\e605";
}

.icon-act-adults-icon-sign-up-save:before {
	content: "\e606";
}

.icon-act-adults-icon-where-to-buy:before {
	content: "\e607";
}

.icon-act-adults-icon-gingivitis:before {
	content: "\e608";
}
