.carousel-wrap{
	margin-bottom: 20px;	
}

.carousel{
	position: relative;
}

.carousel .carousel-indicators{
	width: 14px !important;
	position: absolute !important;
	top: 10px !important;
	right: 10px !important;
	margin: 0 !important;;
	padding: 0 !important;
	z-index: 999 !important;
	display: block !important;
	left: auto !important;
	text-align: center;
}

.carousel .carousel-indicators li{
	border: 1px solid #fff;
	display: block !important;
	margin-bottom: 3px;
}